<div class="setup_container">

  <div *ngIf="!showRules">
    <header-bar></header-bar>
    <div class="play_button" (click)="play()">
      <button translate>play</button>
    </div>

    <div class="difficulty">
      <div class="icon-left"></div>
      <button
        class="difficulty-value"
        [class.easy]="currentDifficulty === 'easy'"
        [class.moderate]="currentDifficulty === 'moderate'"
        [class.hard]="currentDifficulty === 'hard'"
      >
        {{ currentDifficulty | translate }}</button
      ><!-- sert juste à centrer verticalement le texte -->
      <div class="icon-right"></div>

      <a class="less-difficult" (click)="toggleDifficulty('less')"></a>
      <a class="more-difficult" (click)="toggleDifficulty('more')"></a>
    </div>

    <div class="difficulty_info" *ngIf="!gameHaveBeenPlayedBefore">

      <ul *ngIf="currentDifficulty === 'easy'">
        <!-- <li class="infoItem">
          <div class="img" id="record"></div>
          Meilleur score : {{this.userRecords?this.userRecords["easy"]:0}}
        </li> -->
        <li class="infoItem" translate>
          <div class="img" id="time"></div>
          Slow time
        </li>
        <li class="infoItem" translate>
          <div class="img" id="axe"></div>
          Watch out for axes
        </li>
      </ul>

      <ul *ngIf="currentDifficulty === 'moderate'">
        <!-- <li class="infoItem">
          <div class="img" id="record"></div>
          Meilleur score : {{this.userRecords?this.userRecords["moderate"]:0}}
        </li> -->
        <li class="infoItem" translate>
          <div class="img" id="time"></div>
          Normal time
        </li>
        <li class="infoItem" translate>
          <div class="img" id="axe"></div>
          Watch out for axes
        </li>
        <li class="infoItem" translate>
          <div class="img" id="tree"></div>
          2 icons simultaneously
        </li>
      </ul>

      <ul *ngIf="currentDifficulty === 'hard'">
        <!-- <li class="infoItem">
          <div class="img" id="record"></div>
          Meilleur score : {{this.userRecords?this.userRecords["hard"]:0}}
        </li> -->
        <li class="infoItem" translate>
          <div class="img" id="time"></div>
          Fast time
        </li>
        <li class="infoItem" translate>
          <div class="img" id="axe"></div>
          Watch out for axes
        </li>
        <li class="infoItem" translate>
          <div class="img" id="tree"></div>
          3 icons simultaneously
        </li>
      </ul>
    </div>

    <button
      type="button"
      class="rules-btn"
      (click)="showRules = true"
      *ngIf="!gameHaveBeenPlayedBefore"
      translate
    >
      How to play ?
    </button>

    <div class="score_info" *ngIf="gameHaveBeenPlayedBefore">
      <div class="first-line">
        <p>Score: {{ displayedScore }}</p>
        <div class="icon-tree"></div>
      </div>
      <p class="showBonus" *ngIf="showBonus && this.percentageBonusAdded > 0">
        (+{{ this.percentageBonusAdded }}%)
      </p>
      <div class="scoreText" *ngIf="bestScore" translate>new best score !</div>
    </div>
  </div>

  <div *ngIf="showRules">
    <header-bar></header-bar>
    <button type="button" class="rules-btn" (click)="showRules = false" style="margin: 2rem 0 1rem 0;" translate>
      Back
    </button>

    <div class="rules" >
      <h2 translate>Rules</h2>

      <p translate>- Click on the tree icons to gain points and time</p>
      <p translate>- Do not click on the red icons which waste time</p>
      <p translate>GOAL: resist as long as possible to get the best score from the community!</p>

      <h2 translate>Tips</h2>

      <p translate>- Combo mode: activated after a series of more than 10 clicks without error
(next to icons or on red icons)</p>
      <p translate>- The combo mode allows you to double the points obtained for each icon</p>
      <p translate>- Click as many times on the icons as there are trees</p>
      <p translate>- Use boosters to activate special abilities and increase your score!</p>
      <p translate>- Own as many 'classic' type items as possible to increase your score and the gold you earn at the end of the game</p>

    </div>
  </div>
</div>
<nav-bar></nav-bar>
