<header-bar *ngIf="!showModal"></header-bar>
<h1 *ngIf="!showModal" translate>Shop</h1>

<div class="garden-container" *ngIf="!showModal">
  <div class="classics">
    <h2 translate>Classics</h2>
    <p class="section-description" translate>Real investments for the planet</p>
    <div class="shop-item" *ngFor="let shopItem of classicItems">
      <div class="img" [id]="shopItem.itemName"></div>
      <div class="text">
        <h3>
          {{ shopItem.displayName |translate}}
          ({{
            (this.user$ | async).items[shopItem.itemName]
              ? (this.user$ | async).items[shopItem.itemName][shopItem.itemName]
              : 0
          }})
        </h3>
        <p>{{ shopItem.description |translate}}</p>
        <button
          (click)="buyItem(shopItem.itemName)"
          [disabled]="(this.user$ | async).gold < shopItem.price"
        >
          <span translate style="margin-right: 5px;">Buy for</span> {{ shopItem.price }}
          <div class="gold-icon"></div>
        </button>
      </div>
    </div>
  </div>

  <h2 translate>Boosters</h2>
  <p class="section-description" translate>
    Gadgets to improve your gaming performance
  </p>
  <div class="shop-item" *ngFor="let shopItem of boosterItems">
    <div class="img" [id]="shopItem.itemName"></div>
    <div class="text">
      <h3>
        {{ shopItem.displayName |translate}}
        ({{
          (this.user$ | async).items[shopItem.itemName]
            ? (this.user$ | async).items[shopItem.itemName][shopItem.itemName]
            : 0
        }})
      </h3>
      <p>{{ shopItem.description |translate}}</p>
      <button
        (click)="buyItem(shopItem.itemName)"
        [disabled]="(this.user$ | async).gold < shopItem.price"
      >
        <span translate style="margin-right: 5px;">Buy for </span>{{ shopItem.price }}
        <div class="gold-icon"></div>
      </button>
    </div>
  </div>

  <!-- {{ (user$ | async).items | json }} -->
</div>

<h1 *ngIf="showModal" translate>Publicity</h1>
<div class="publicity_modal" *ngIf="showModal">
  <div class="text">
    <!-- [ngStyle]="{display:showModal?'block':'none'}" -->
    <p translate>- No advertising available -</p>
    <p translate>
      Would you be willing to watch a short advertisement in order to plant trees?
    </p>
    <p translate>Answer us via the FEEDBACK option in the options tab!</p>

    <!-- <p style="margin-top: 1rem">Publicité test</p> -->
  </div>

  <!-- Module de parrainage iGraal Version COMPUTER -->
  <!-- <div
    style="width: 468px; height: 60px; overflow: hidden; margin: 0 auto"
    id="ig-CrxEIZs8qgKEtRZt"
  >
    <noscript>
      Vous devez activer javascript pour afficher ce contenu fourni par
      <a href="//fr.igraal.com/">
        iGraal : Cashback et Codes promo
      </a></noscript
    >
  </div> -->
  <!-- fin du module de parrainage iGraal-->

  <!-- Module de parrainage iGraal Version PHONE-->
  <div
    style="width: 300px; height: 250px; overflow: hidden; margin: 0 auto"
    id="ig-aEHNcBKj598wsUVN"
  >
    <noscript>
      Vous devez activer javascript pour afficher ce contenu fourni par
      <a href="//fr.igraal.com/">
        iGraal : Cashback et Codes promo
      </a></noscript
    >
  </div>
  <!-- fin du module de parrainage iGraal-->

  <div class="answer">
    <button id="accept" (click)="modalAnswer('true')" translate>I get it</button>
    <button id="accept" (click)="modalAnswer('true')" translate>
      I did not understand
    </button>
  </div>

  <!-- <button id="refuse">Refuse Dialog</button> -->
</div>

<nav-bar *ngIf="!showModal"></nav-bar>
