<h1>options</h1>

<div class="options_container">
  <!-- *ngIf="currentSection==='' -->

  <button class="menu_button" (click)="display('information')">
    {{ "informations" | translate }}
  </button>
  <div id="information" *ngIf="currentSection === 'information'">
    <h2 translate>Origin of the game</h2>
    <p class="text" translate>
      The original goal of this game was to be able to do a good deed while
      playing and measuring yourself against your friends. The clicks collected
      should have been used to plant trees with Écosia. Despite the fact that
      this game would have allowed to plant trees, it would still have had a
      negative carbon impact due to the generated browser searches. We still
      hope that this game will be fun and we are counting on you to send us your
      suggestions for improvements!
    </p>

    <h2 translate>Current state of the game</h2>
    <p class="text" translate>
      The game is currently in the TEST step. It is a question of seeing if it
      is capable of engaging a sufficiently large community, allowing to attract
      advertisers in order to be able to donate funds to companies that will be
      able to plant trees (thanks to the advertisements generated via the
      acquisition of 'classic' objects). In this case, the application would be
      put on the PlayStore
    </p>
    <p style="margin-top: 12px" translate>Have a good game and good luck!</p>
  </div>

  <button class="menu_button" (click)="display('color')" translate>
    color theme
  </button>
  <div *ngIf="currentSection === 'color'" translate>
    <!-- <button class="menu_button" (click)="display('')" translate>
          back to options
        </button> -->

    - Not available yet -
  </div>

  <button class="menu_button" (click)="display('language')">
    {{ "language" | translate }}
  </button>
  <div *ngIf="currentSection === 'language'">
    <!-- <button class="menu_button" (click)="display('')" translate>
          back to options
        </button> -->

    <div class="language">
      <button (click)="swithLanguage('fr')" translate>
        <span class="french_img"></span>
        french
      </button>
      <button (click)="swithLanguage('en')" translate>
        <span class="english_img"></span>
        english
      </button>
    </div>
  </div>

  <button class="menu_button" (click)="display('feedback')" translate>
    send feedback
  </button>
  <div
    id="feedback"
    class="info_container"
    *ngIf="currentSection === 'feedback'"
  >
    <!-- <button class="menu_button" (click)="display('')" translate>
          back to options
        </button> -->

    <div class="feedback_component">
      <app-feedback></app-feedback>
    </div>
  </div>

  <button class="menu_button" (click)="display('logout')" translate>
    disconnection
  </button>
  <div *ngIf="currentSection === 'logout'">
    <!-- <button class="menu_button" (click)="display('')" translate>
          back to options
        </button> -->

    <button class="logout" (click)="logoutUser()" translate>
      <span class="logout_img"></span>
      confirm logout
    </button>
  </div>
</div>
<nav-bar></nav-bar>
<!-- </div> -->
