<!-- <nav-bar></nav-bar> -->

<div class="feedback-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="text">
      <p translate>
        You can give us your feedback, your impressions, possible bugs encountered, or even your ideas for improvement here if you wish!
      </p>
      <p translate>It will help us a lot!</p>
    </div>

    <!-- <label class="email">
            <input type="email" placeholder="Email adress" formControlName="email" *ngIf="displayEmail">
            <button type="button" (click)="toggleDisplayEmail()" #email>{{displayEmail? 'Ne pas mentionner mon mail' : 'Mentionner mon mail'}}</button>
        </label> -->

    <label class="feedback">
      <input
        type="text"
        placeholder="{{'Please enter your remark !'|translate}}"
        formControlName="feedback"
      />
    </label>

    <!-- <div class="error" *ngIf="emailFormat && displayEmail">
            Invalid Email format
        </div> -->

    <div class="error" *ngIf="feedbackInvalid" translate>
      Feedback is required if you want to send us a usefull help remark !
    </div>

    <!-- <ng-content select=".error"></ng-content> -->

    <div class="feedback-form__action">
      <button type="submit" [disabled]="form.invalid" translate>
        <span class="disabled_img" *ngIf="form.invalid"></span>
        send feedback
      </button>
    </div>
  </form>
</div>
